.background{
    background-image: url("background.png");
    background-size: 155%;
    overflow: hidden;
}
.score{
    color: red;
    font-weight: bold;
    font-size: 50px;
    margin-top: 60px;
    margin-left: 40px;
}
.boy{
    height: 150px;
    margin-top: 502px;
    position: absolute;
}
.flame{
    height: 150px;
    margin-top: 520px;
    margin-left: 400px;
    position: absolute;

}